body { 
  background: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.dropwn {
  margin: 0 auto;
}

nav {
  height: 60px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 5 px 0 0 80px;
  height:auto;
  width: 150px;
}

nav ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
}

nav ul li {
  background: #fff;
  position: relative;
  list-style: none;
  display:inline-block;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  color: darkslategray;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}

nav ul li a:hover {
  background:#ccc;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
} 

.body {
  padding: 0 20px;
}

.body img {
  width: 100%;
  max-width:700px;
  margin: 20px 0;   
}

.body p {
  text-align: justify;
  color: darkslategray;
}